body {
margin: 0;
}

.img-content p {
float: right;
width: 70%;
padding-top: 40px;
}

.img-content img {
width: 20%;
border-radius: 100%;
margin-left: 20px;
}

.header-image {
background: url(beachYoga2.JPG);
background-repeat: no-repeat;
background-size: auto;
height: 800px;
}

.header-banner {
background-color: #009688;
padding: 10px 5px;
color: #fff;
margin-bottom: 50px;
}

.header-image h1 {
font-size: 48px;
color: #000;
font-weight: bold;
text-align: center;
padding-top: 8%;
}

.header-image p {
font-size: 32px;
color: #fff;
text-align: center;
}

.sidebar {
float: right;
width:30%;
height: auto;
right:0;
padding-left:20px;
background-color: #f7f7f7;
border-left: 3px solid #ccc;
}

.main-content {
width: 65%;
}

.footer-content {
text-align: center;
}

footer {
background-color: #009688;
padding: 20px 8px;
}

.footer-img {
padding: 4px;
text-align: center;
border-radius: 100%;
}

footer h3 {
text-align: center;
color: #fff;
}